.footer {
    background: linear-gradient(to bottom, #5E0000, #490001);
    color: #ffffff;
    padding: 10px 0 0; 
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer  {
    padding: 20px 0;
    white-space: nowrap;
    margin-bottom: 0;
}

.text {
    color: #ffffff;
    font-size: 22px;
    transition: color 0.3s;
    text-decoration: none;
}

.copy {
    font-size: 22px;
}

.titulo:hover {
    color: #DE0000;
    text-decoration: none;
}

.footer-text {
    text-align: left;
}

.contatos {
    padding-top: -5px;
}

.maps,
.email,
.phone,
.social {
    color: #ffffff;
    transition: color 0.3s;
    text-decoration: none;
}

.social {
    color: #ffffff;
    transition: color 0.3s;
    text-decoration: none;
}

.maps:hover,
.email:hover,
.phone:hover,
.social:hover {
    color: #DE0000;
    text-decoration: none;
}

.icones a {
    display: inline-block;
    transition: transform 0.3s ease;
    padding: 8px;
}

.icones a:hover {
    transform: translateY(-5px);
}

.footer-logo {
    text-align: center;
}

hr {
    width: 80%;
    background-color: #ffffff;
    text-align: center;
    border: none;
}

.footer-text {
    text-align: center;
}
