.footer {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    background: linear-gradient(to bottom, #5E0000, #490001);
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .container {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer  {
    padding: 20px;
    white-space: nowrap;
}

.titulo-footer {
    color: #ffffff;
    font-size: 22px;
    transition: color 0.3s;
}

.redes-sociais,
.social {
    margin-right: 80px;
    margin-top: 50px;
}

.maps,
.email,
.phone,
.social {
    color: #ffffff;
    transition: color 0.3s;
    text-decoration: none;
}

.contato {
    margin-top: 50px;
    text-align: left;
}

.social {
    color: #ffffff;
    transition: color 0.3s;
    text-decoration: none;
}

.maps:hover,
.email:hover,
.phone:hover {
    color: #DE0000;
    text-decoration: none;
}

.icones a {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-right: 13px
}

.icones a:hover {
    transform: translateY(-2px);
}
