body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background-color: #8B0000; /* Altere para a cor desejada */
}

.banner-image{
    display: flex;
    justify-content: center;
}
.banner-image img{
    width: 100%;
}

ul.nav a:hover { 
    background: linear-gradient(to bottom, #661F20, #490001) !important;
    color: #ffffff !important;
}

.icones a {
    display: inline-block;
    margin: 0 10px;
    filter: grayscale(100%); 
    transition: filter 0.3s ease; 
}

.icones a:hover {
    filter: grayscale(0%);
}

