body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo-tjrs {
    padding-left: 30px;
    display: inline-block;
    transition: transform 0.2s ease;
}

.logo-tjrs:hover {
    transform: translateY(-2px);
}

.nav {
    background-color: #8B0000;
}

ul.nav a:hover { 
    background: linear-gradient(to bottom, #661F20, #490001);
    color: #ffffff;
}

.grupo-icones {
    padding-right: 70px;
}

.icones a {
    display: inline-block;
    filter: grayscale(100%); 
    transition: filter 0.3s ease; 
}

.icones a:hover {
    filter: grayscale(0%);
}

